@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  width: 100%;
  background-color: red;
}

.customWidth {
  @apply w-12 whitespace-nowrap overflow-hidden text-ellipsis lg:w-auto lg:whitespace-normal lg:overflow-visible  lg:text-clip;
}

.custom {
  @apply cursor-pointer hidden md:hidden lg:flex h-[42px]  items-center rounded-[10px] hover:bg-[#df3346] py-[3px] px-[10px];
}

/* Ẩn thanh scrollbar mặc định trên Webkit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 5px; /* Độ rộng của thanh scrollbar dọc */
  height: 10px; /* Độ cao của thanh scrollbar ngang */
}

/* Đặt màu nền cho thanh scrollbar */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Đặt màu nền cho thanh kéo */
::-webkit-scrollbar-thumb {
  background: #b6b3b3;
  border-radius: 5px; /* Góc bo tròn của thanh kéo */
}

/* Đặt màu nền cho thanh kéo khi hover */
::-webkit-scrollbar-thumb:hover {
  /* background: rgb(112, 112, 112) 3b3; */
}

.slick-prev,
.slick-next {
  opacity: 0; /* Ẩn mũi tên mặc định */
  transition: opacity 0.3s ease; /* Tạo hiệu ứng mượt mà khi hiện/ẩn */
  background-color: white; /* Nền trắng */
  border-radius: 50%; /* Hình tròn */
  width: 40px; /* Điều chỉnh kích thước */
  height: 40px; /* Điều chỉnh kích thước */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1; /* Đảm bảo mũi tên ở trên cùng */
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick"; /* Sử dụng icon của Slick Carousel */
  font-size: 20px; /* Điều chỉnh kích thước icon */
  color: black; /* Màu icon */
}

.slick-prev:hover,
.slick-next:hover {
  opacity: 1; /* Hiện mũi tên khi hover */
}

.slick-prev {
  left: -20px; /* Đẩy mũi tên ra ngoài lề bên trái */
}

.slick-next {
  right: -20px; /* Đẩy mũi tên ra ngoài lề bên phải */
}

.ant-carousel .slick-slider {
  overflow: hidden; /* Ẩn phần mũi tên bị tràn ra ngoài */
}

@media (max-width: 640px) {
  .ant-carousel .slick-dots {
    display: block !important;
    bottom: 0;
    margin-top: 50px;
  }
}

@media (min-width: 640px) {
  .ant-carousel .slick-dots {
    display: none !important;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
