@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  width: 100%;
  background-color: red;
}

.customWidth {
  @apply w-12 whitespace-nowrap overflow-hidden text-ellipsis lg:w-auto lg:whitespace-normal lg:overflow-visible  lg:text-clip;
}

.custom {
  @apply cursor-pointer hidden md:hidden lg:flex h-[42px]  items-center rounded-[10px] hover:bg-[#df3346] py-[3px] px-[10px];
}

/* Ẩn thanh scrollbar mặc định trên Webkit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 5px; /* Độ rộng của thanh scrollbar dọc */
  height: 10px; /* Độ cao của thanh scrollbar ngang */
}

/* Đặt màu nền cho thanh scrollbar */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Đặt màu nền cho thanh kéo */
::-webkit-scrollbar-thumb {
  background: #b6b3b3;
  border-radius: 5px; /* Góc bo tròn của thanh kéo */
}

/* Đặt màu nền cho thanh kéo khi hover */
::-webkit-scrollbar-thumb:hover {
  /* background: rgb(112, 112, 112) 3b3; */
}

.ant-carousel {
  position: relative;
}

.ant-carousel .slick-prev,
.ant-carousel .slick-next {
  position: absolute;
  left: "-35px";
  right: "-35px";
}

.ant-carousel .slick-next {
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
