@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  width: 100%;
  background-color: white;
}
.custom-width-mobile {
  width: calc(100% + 200px);
}

.customWidth {
  @apply w-12 whitespace-nowrap overflow-hidden text-ellipsis lg:w-auto lg:whitespace-normal lg:overflow-visible  lg:text-clip;
}

.custom {
  @apply cursor-pointer hidden md:hidden lg:flex h-[42px]  items-center rounded-[10px] hover:bg-[#df3346] py-[3px] px-[10px];
}

/* Custom Hover First List */
ul.flex li a.active {
  color: #d70018;
}

ul.flex li a:hover {
  color: #d70018;
}

/* Ẩn thanh scrollbar mặc định trên Webkit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 5px; /* Độ rộng của thanh scrollbar dọc */
  height: 10px; /* Độ cao của thanh scrollbar ngang */
}

/* Đặt màu nền cho thanh scrollbar */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Đặt màu nền cho thanh kéo */
::-webkit-scrollbar-thumb {
  background: #b6b3b3;
  border-radius: 5px; /* Góc bo tròn của thanh kéo */
}

/* Đặt màu nền cho thanh kéo khi hover */
::-webkit-scrollbar-thumb:hover {
  /* background: rgb(112, 112, 112) 3b3; */
}

.scrollbar-hide::-webkit-scrollbar {
  width: 0px; /* Ẩn thanh cuộn trên WebKit (Chrome, Safari) */
}

.scrollbar-hide {
  scrollbar-width: none; /* Ẩn thanh cuộn trên Firefox */
  -ms-overflow-style: none; /* Ẩn thanh cuộn trên IE/Edge */
}

.slick-prev,
.slick-next {
  opacity: 0; /* Ẩn mũi tên mặc định */
  transition: opacity 0.3s ease; /* Tạo hiệu ứng mượt mà khi hiện/ẩn */
  background-color: white; /* Nền trắng */
  border-radius: 50%; /* Hình tròn */
  width: 40px; /* Điều chỉnh kích thước */
  height: 40px; /* Điều chỉnh kích thước */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1; /* Đảm bảo mũi tên ở trên cùng */
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick"; /* Sử dụng icon của Slick Carousel */
  font-size: 20px; /* Điều chỉnh kích thước icon */
}

.slick-prev:hover,
.slick-next:hover {
  opacity: 1; /* Hiện mũi tên khi hover */
}

.slick-prev {
  left: -20px; /* Đẩy mũi tên ra ngoài lề bên trái */
}

.slick-next {
  right: -20px; /* Đẩy mũi tên ra ngoài lề bên phải */
}

.ant-carousel .slick-slider {
  overflow: hidden; /* Ẩn phần mũi tên bị tràn ra ngoài */
}

/* .slick-dots .slick-dots-bottom {
  width: 50px;
} */

/* .slick-list {
  position: relative;
  padding-bottom: 10px;
} */
/* .slick-dots .slick-dots-bottom {
  position: absolute;
} */

.ant-carousel {
  /* height: 292px; */
}

/* .ant-carousel .slick-dots li {
  margin: 0 8px;
  width: 8px;
} */

.ant-carousel .slick-dots li.slick-active {
  width: 20px;
  height: 8px;
}

.ant-carousel .slick-dots li button {
  height: 8px;
  width: 8px;
  background-color: #707070;
}

.ant-carousel .slick-dots li button::after {
  width: 8px;
  height: 8px;
}
.ant-carousel .slick-dots li.slick-active button {
  width: 20px;
  height: 100%;
  border-radius: 50px;
  background-color: #d70018;
}

.ant-carousel .slick-dots li button::before,
.ant-carousel .slick-dots li button::after {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.few-items {
  position: relative;
  top: -90px;
}

@media (max-width: 768px) {
  .ant-carousel .slick-dots {
    position: inherit;
    display: flex !important;
    bottom: 0;
    margin: 10px 0;
    color: none;
  }
}

@media (min-width: 768px) {
  .ant-carousel .slick-dots {
    display: none !important;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
