.header-bgcolor {
  background-color: #e1042a;
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
}

.header-container {
  width: 1200px;
  background-color: #e1042a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  color: white;
  position: relative;
  height: 64px;
}

.header-container .header-logo img {
  width: 170px;
  height: 40px;
}

.header-container .header-shoppingBag {
  position: relative;
}
.header-container .header-itemInCart {
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  top: 17px;
  right: 51px;
}

.header-container .header-logo {
  display: flex;
  align-items: center;
  margin-right: 260px;
  border-radius: 10px;
}

.header-container .header-listBox,
.header-container .header-locationPrice,
.header-container .header-search,
.header-container .header-phone,
.header-container .header-locationStore,
.header-container .header-truckDelivery,
.header-container .header-shoppingBag {
  display: flex;
  align-items: center;
  /* padding: 5px 8px; */
  border-radius: 10px;
}

.header-container .header-locationPrice div div {
  display: flex;
}

.header-container .header-userLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 5px 8px;
}

.header-userLogin .header-container .header-phone h2,
.header-container .header-listBox h2,
.header-container .header-locationPrice h2,
.header-container .header-locationStore h2,
.header-container .header-truckDelivery h2,
.header-container .header-shoppingBag h2,
.header-container .header-userLogin h2 {
  font-size: 12px;
}

.header-container .header-listBox svg,
/* dùng dấu > để chỉ cho thẻ svg con. không lấy hết thẻ svg trong class price */
.header-container .header-locationPrice >svg,
.header-container .header-phone svg,
.header-container .header-locationStore svg,
.header-container .header-truckDelivery svg,
.header-container .header-shoppingBag svg,
.header-container .header-userLogin svg {
  font-size: 25px;
  margin-right: 5px;
  /* padding-left: 2px; */
}

.header-container .header-search {
  background-color: white;
  padding-left: 10px;
  border-radius: 10px;
}

.header-container .header-search svg {
  color: #707070;
  font-size: 15px;
}

.header-container .header-search input {
  border: none;
  outline: none;
  padding: 8px 32px 8px 6px;
  border-radius: 10px;
  font-size: 16px;
}

.header-container .header-listBox,
.header-container .header-locationPrice,
.header-container .header-userLogin {
  background-color: #df3346;
  border-radius: 10px;
  position: relative;
}

.header-container .header-listBox {
  width: 100px;
  height: 42px;
  position: absolute;
  left: 190px;
}

.header-container .header-locationPrice {
  width: 130px;
  height: 42px;
  position: absolute;
  left: 303px;
}

.header-container .header-locationPrice div div p,
.header-container .header-phone div span:nth-child(1) {
  margin-bottom: 3px;
  font-size: 12px;
  font-weight: bold;
}

.header-container .header-listBox:hover,
.header-container .header-locationPrice:hover,
.header-container .header-userLogin:hover {
  cursor: pointer;
}

.header-container .header-phone,
.header-container .header-locationStore,
.header-container .header-truckDelivery,
.header-container .header-shoppingBag {
  padding: 3px 10px;
  height: 42px;
}
.header-container .header-phone:hover,
.header-container .header-locationStore:hover,
.header-container .header-truckDelivery:hover,
.header-container .header-shoppingBag:hover {
  cursor: pointer;
  background-color: #df3346;
}
